html {
    font-size: 16px;
}

article li {
    font-family: "Lato";
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: black;
}

header {
	margin-bottom: -20px;
}

img {
    border: 0px none;
    vertical-align: middle;
    max-width: 100%;
}

p {
    font-family: "Lato";
    font-weight: 300;
}

sm {
    font-size: 12px;
    font-weight: 300;
}

/*Navbar*/

.navbar-default {
	background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
    border-color: #FFF;
}

/*Custom*/

.backgray {
    background: #F2F3F8;
}

.container > h2 {
    padding: 30px;
}

.mailto {
    color: #F85C37;
    float: left;
    font-weight: 700;
}

.pad {
    padding-top: 50px;
}

.secondary {
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
}

.squared {
    color: black;
	padding-top: 30px;
	padding-bottom: 60px;
}

.title {
    color: #34495E;
    font-size: 20px;
    font-weight: 700;
}

#me {
	background: #fff;
	margin-bottom: -20px;
	min-height: 47em;
	width: 100%;
}

#me h1 {
	font-size: 65px;
	margin-top: 4em;
}

#me h3 {
	font-size: 20px;
}

#contact {
    background: #2f2f2f;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact p {
    color: white;
}

#contact a {
    font-size: 1.2em;
}

#contact h4 {
    color: white;
    font-family: "Lato";
}

#contact t {
    font-weight: 700;
}

#contact i {
    padding-right: 8px;
    color: #1abc9c;
}

/*Portfolio*/

.animado {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    visibility: visible !important
}

.ser-animado {
    visibility: hidden;
    margin-bottom: 30px
}

.elemento {
    float: left;
    margin: 0px 0px 40px;
    overflow: hidden;
}

.elemento .interno, .elemento .voltear-imagen {
    overflow: hidden;
    position: relative;
}

.elemento .interno, .elemento .voltear-imagen {
    overflow: hidden;
    position: relative;
}

.envolver-previo {
    display: block;
}

.voltear-previo {
    overflow: hidden;
    position: relative;
}

.elemento .interno, .elemento .voltear-imagen {
    overflow: hidden;
    position: relative;
}

.elemento img {
    transition: -moz-filter 0.4s ease 0s, -moz-transform 0.4s ease 0s;
    width: 100%;
    display: block;
}

.previo-overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.previo-bg {
    width: 100%;
    height: 100%;
    display: table;
}

.envolver-previo, .previo-bg {
    position: relative;
}

.titulo2 .previo-titulo-envolver {
    text-align: left;
    vertical-align: top;
}

.previo-titulo-envolver {
    color: #FFF;
}

.previo-titulo-envolver .previo-titulo {
    font: 400 14px/30px "Montserrat","Open Sans","Arial",sans-serif;
    letter-spacing: 0px;
}

.previo-titulo-envolver .item {
    font-size: 12px;
    line-height: 17px;
    text-transform: none;
    letter-spacing: 0px;
}

.titulo1 .previo-titulo {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    border: 3px
    solid;
    padding: 6px
    15px;
    margin-bottom: 10px
}

.titulo2 .item {
    margin: 0px 20px 0px 20px;
}

.titulo2 .previo-titulo {
    margin: 10px 20px;
}

.titulo2 .previo-titulo-envolver {
    text-align: left;
    vertical-align: top
}

.desvanecer {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn
}

/*End Portfolio*/

@media (min-width: 320px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 32em;
        width: 100%;
    }

    #me h1 {

        font-size: 65px;
        margin-top: 16px;
    }
}

@media (min-width: 360px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 43.5em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 1.3em;
    }
}

@media (min-width: 480px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 25em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 0.5em;
    }
}

@media (min-width: 600px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 69em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 5em;
    }
}

@media (min-width: 640px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 25em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 1em;
    }
}

@media (min-width: 768px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 58em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 5em;
    }
}

@media (min-width: 800px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 47em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 3.5em;
    }
}

@media (min-width: 980px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 74em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 7em;
    }
}

@media (min-width: 1024px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 39em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 3em;
    }
}

@media (min-width: 1280px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 63em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 5em;
    }
}

@media (min-width: 1440px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 48em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 4.5em;
    }
}

@media (min-width: 1920px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 62em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 5em;
    }
}

@media (min-width: 1680px) {

    #me {
        background: #fff;
        margin-bottom: -20px;
        min-height: 64em;
        width: 100%;
    }

    #me h1 {
        font-size: 65px;
        margin-top: 6em;
    }
}
